body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background: #111;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h3 {
  font-weight: 400;
}

.weather-app {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  transition: 500ms;
  opacity: 1;
  overflow: hidden;
}

.weather-app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.initial-load {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initial-load p {
  font-size: 1.5em;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 2em 3em 4em 3em;
  overflow: hidden;
}

.container > div {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3em;
}

.city-time,
.temp,
.weather {
  margin: 0 0.8em;
}

.city-time h1 {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 3em;
}

.city-time small {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.temp {
  font-size: 7em;
  margin-left: 0;
  margin-right: 45px;
}

.weather img {
  display: block;
  margin: 0.5em 0;
}

.condition {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1;
  padding: 3em 2em;
  /* overflow-y: scroll; */
}

.panel .centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45%;
  border-bottom: 1px #ccc solid;
}

.panel .centered-content h4 {
  margin: 0;
}

.panel form {
  margin-bottom: 2em;
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5em;
  margin: 0;
  border: none;
  outline: none;
  background: #1b5afa;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.4s;
}

.submit:hover {
  background: #fff;
  color: #000;
}

.search {
  background: none;
  border: none;
  border-bottom: 1px #ccc solid;
  padding: 0 1em 0.5em 0;
  width: 80%;
  color: #fff;
  font-size: 1.1em;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: #ccc;
}

.panel ul {
  padding: 0 0 1em 0;
  margin: 2em 0;
  border-bottom: 1px #ccc solid;
}

.panel ul li {
  color: #ccc;
  margin: 2.5em 0;
}

.panel ul h4 {
  margin: 3em 0;
}

.city {
  display: block;
  cursor: pointer;
}

.city:hover {
  color: #fff;
}

.details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
  .container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .temp {
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .initial-load {
    width: 100%;
  }
  .panel,
  .container {
    position: relative;
    width: 100%;
    top: initial;
  }
  .container > div {
    width: 100%;
    padding: 0;
  }
  .city-time h1 {
    font-size: 2em;
  }
  .city-time small {
    font-size: 0.8em;
  }
  .temp {
    font-size: 5em;
  }
  .weather img {
    width: 60px;
  }
  .centered-content img {
    width: 150px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
  .temp {
    font-size: 3em;
    margin: 0 0.8em;
  }
  .centered-content img {
    width: 80px;
  }
  .initial-load {
    padding: 20px;
  }
  .initial-load img {
    width: 400px;
  }
}

@media screen and (max-height: 300px) {
  .weather-app {
    min-height: 40em;
  }
}
